body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333333;
  }
  
  h1 {
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
  }
  input[type="reset"] {
    background-color: #da0404;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #cccccc;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .center {
    text-align: center;
  }

  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
  }
  
  .profile-picture {
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid rgb(141, 136, 140);
   
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .links {
    display: flex;
    
  }
  
  .links a {
    padding: 6px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    
  }
  
  .links a:hover {
    background-color: #e0e0e0;
    
  }
  